header{
    .title{
        text-align: center;
        margin: 2% 10%;
    }
    #logo{
        width: 40vw;  
        margin: 1% 30%;
        margin-right: 0%;
    }
}

section{
    .flex(space-around,center);
    background-color: @lightVomitGreen;
    width: 90%;
    margin-left: 5%;
    padding: 5% 0;
    .donators{
        width: 30%;
    }
    .campaigns{
        width: 30%;
    }
}

.aboutTitle{
text-align: center;
}

.AboutSection{
    .flex(flex-start,flex-start,column)
}

.teamlead, .unit3, .unit2, .unit1{
    margin:5% 40%;
}